# تجاهل بيئة التشغيل الافتراضية
venv/
env/
Include/
Lib/
pyvenv.cfg

# ملفات النظام المؤقتة
__pycache__/
*.py[cod]
*.log
*.pot

# قاعدة البيانات (إذا لا تريد مشاركتها)
*.sqlite3

# ملفات النظام
.DS_Store
Thumbs.db

# ملف البيئة الذي يحتوي على معلومات حساسة
.env

# ملفات static و media (إذا كنت لا تحتاج رفعها إلى git)

# إعدادات محررات الكود
.vscode/
.idea/

# ملفات أخرى غير ضرورية
*.bak
*.tmp
