{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
  <header>
    <div class="logo"> 🛒ShopCart</div>
    <nav>
         <a href="/">🏠Home</a>
       <a href="{% url 'signup' %}">👤Account</a>
   
    
    </nav>
  </header>

  <main class="cart-container">
    <div class="cart-box">
      <h2>🛒 Shopping Cart</h2>

      {% if cart_items %}
        <table class="cart-table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.product.price }} $</td>
              <td>{{ item.product.price|floatformat:2 }} × {{ item.quantity }} = {{ item.product.price|floatformat:2|add:"0"|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="cart-total">
          <p><strong>Grand Total:</strong> {{ total }} $</p>
    <div class="checkout-wrapper">
    <a href="{% url 'saveOrder' %}" class="checkout-btn">
        Proceed to Checkout
    </a>
</div>

        </div>
      {% else %}
        <p class="empty">Your cart is empty 🚀</p>
      {% endif %}
    </div>
  </main>
</body>
</html>
