{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup - Shopcart</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

  <!-- Header -->
  <header>
    <div class="logo">🛒 Shopcart</div>
    <!-- <nav>
      <div class="dropdown">
        <a href="#">Categories ▾</a>
        <div class="dropdown-content">
          <a href="?category=clothes">Clothes</a>
          <a href="?category=food">Food</a>
          <a href="?category=kitchin">Kitchen</a>
          <a href="?category=elctronic">Electronic</a>
        </div>
      </div>
      <a href="#">Deals</a>
      <a href="#">What's New</a>
      <a href="#">Delivery</a>
    </nav> -->

    <!-- Notifications -->
    {% if messages %}
      <div class="notification-wrapper">
        {% for message in messages %}
          <div class="notification {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="actions">
      <!-- <input type="text" placeholder="Search Product"> -->
        <a href="{% url 'index' %}">🏠Home</a>
    
      <a href="{% url 'cart' %}">🛒Cart</a>
     
    </div>
  </header>
  <section class="signup-container">
    <div class="signup-box">
      <h2>Create Account</h2>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="phone" placeholder="Phone" required>
        <input type="text" name="address" placeholder="Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Signup</button>
      </form>
      <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
  </section>
</body>
</html>
